
.slider img{
	width: 100%;
	height: 100vh;
	position: relative;
	opacity: 0.4;	
}
.slider ol li{
	height: 10px;
	width: 10px;
	background-color: #122862;
	border:1px solid #122862;
	border-radius: 100px;
}
.navbar-brand img{
	height: 50px;
	width: 200px;
	margin-top: -10px;
}
.fa-bars{
	font-size: 24px;
	color: #111;
}
.scrolled{
	/*background-image: url('../assets/img/header.png');*/
	/*height: 80px;*/
	background-color: #fff;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navigasi{
	position: fixed;
	z-index: 500;
	width: 100%;
	top: 0;
	background-image: url('../assets/img/header.png');
	background-repeat: no-repeat;
  background-size: cover;
}
.menu ul li a{
	color: #fff;
	font-weight: bold;
}
.menu ul li a.active{
	color: #f29406;
}
.carousel-caption{
	top: 0;
	margin-top: 220px;
}
.carousel-caption h1,h4{
	color: #111;
}
.btn-outline{
	margin-top: 50px;
}
.btn-outline a{
	border:1px solid #122862;
	padding: 5px 15px 5px 15px;
	color: #122862;
	font-weight: bold;
}
.btn-outline a:hover{
	color: #fff;
	border: 0;
	background: rgb(18,40,98);
	background: -moz-linear-gradient(100deg, rgba(18,40,98,1) 34%, rgba(242,148,6,1) 100%);
	background: -webkit-linear-gradient(100deg, rgba(18,40,98,1) 34%, rgba(242,148,6,1) 100%);
	background: linear-gradient(100deg, rgba(18,40,98,1) 34%, rgba(242,148,6,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#122862",endColorstr="#f29406",GradientType=1);
}

/*-- info --*/
#info{
	height: 100%;
	background-color:#28448c;
}
.konten{
	padding-top: 30px;
	padding-bottom: 30px;	
}
.konten img{
	width: 100%;
	height: 230px;
}
.konten h2,p{
	color: #fff;
}
.spacing{
	margin-bottom: 55px;
}

/*--Testimoni--*/
#testimoni{
	padding-top: 30px;
	height: 450px;
	width: 100%;
}
.konten-testimoni{
	width: 400px;
	height: 250px;
	padding-top: 15px;
	background-color: #fafafa;
	border-radius: 10px;
	margin: 20px;
}
#testimoni h3{
	margin-bottom: 20px;
}
#testimoni h5{
	margin-top: 10px;
}
#testimoni img{
	height: 50px;
	width: 50px;
	border-radius: 100px;
}
#testimoni p{
	color: #28448c;
	font-size: 12px;
	padding: 15px;
}
.fa-quote-left{
	font-size: 32px;
	color: #f29406;
}
.quotes{
	margin-top: -15px;
	position: absolute;
	z-index: 150;
}
/*--Berita --*/
#berita{
	padding-top:80px;
	margin-bottom: 50px;
}

#berita  a{
	color: black;
}
#berita  a:hover{
	color: black;
	text-decoration: none;
}
.berita-terbaru img{
	width: 100%;
	height: 350px;
	position: relative;
}
.judul-berita{
	background-color: #111;
	opacity: 0.8;
	height: 100px;
	padding: 15px;
	margin-top: -80px;
	width: 100%;
	height: 100%;
}
.judul-berita h6 {
	color: #fff;
}
.judul-berita small {
	color: #fff;
}

.konten-berita{
	margin-bottom: 20px;
}
.konten-berita img{
	width: 100%;
	height: 80px;
}
.title{
	margin-bottom: 15px;
}
hr{
	border-width: 10px;
}
.konten-berita2{
	margin-bottom: 20px;
}
.konten-berita2 img{
	width: 100%;
	height: 150px;
}
.berita-lainnya{
	margin-top: 30px;
}

/*--Job--*/
#job{
	margin-bottom: 30px;
}
.title2{
	margin-top: -55px;
}
.bg-job img{
	opacity: 0.4;
	height: 250px;
	width: 100%;
}
.login{
	background-color: #fff;
	height: 350px;
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.after-login{
	background-color: #fff;
	padding-bottom: 20px;
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.after-login img{
	height: 100px;
	width: 100px;
	border-radius: 100px;
}
.after-login p{
	color: black;
	margin-top: 20px;
}
.panel{
	margin-top: 50px;
}
.btn-blue{
	margin-top: 20px;
}
.btn-blue button{
	background-color: #122862;
	padding: 5px 15px 5px 15px;
	color: #fff;
}
.btn-blue button:hover{
	color: #fff;
}
.btn-blue2{
	margin-top: 20px;
}
.btn-blue2 button{
	background-color: #122862;
	padding: 5px 35px 5px 35px;
	color: #fff;
}
.btn-blue2 button:hover{
	color: #fff;
}
.login p{
	margin-top: 20px;
	text-align: center; 
	color: black;
}
.login a{
	color: #f29406;
}
.login a:hover{
	color: #f29406;
	text-decoration: none;
}
.login .form-control:focus{
	border: 1px solid #122862;
}
.filter{
	background-color: #fff;
	width: 100%;
	padding: 13px 15px 10px 15px;
	border-radius: 10px;
	font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hasil-pencarian{
	padding: 15px;
	margin-top: 50px;
	background-color: #fff;
	padding-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.action{
	color: #f29406;
}
.hasil-pencarian a{
	color: #f29406;
	cursor: pointer;
}
.hasil-pencarian a:hover{
	color: #f29406;
	cursor: pointer;
}
.hasil-pencarian .table {
	font-size: 14px;
	margin-top: 20px;
}
.bg2{
	background-color: #fff;
	padding-bottom: 20px;
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*--dashboard--*/
#bg-dashboard{
	background-color: #fafafa;
	height: 100vh;
	margin-top: 60px;
	padding-top: 30px;
}
.menu-dashboard ul {
	border-bottom: 1px solid #122862;
	padding-top: -2px;
}
.menu-dashboard ul li a{
	color: #122862;
	font-size: 14px;
}
.menu-dashboard ul li a.active{
	color: #f29406;
	font-weight: bold;
	border-bottom: 4px solid #f29406;
}
.upload-resume{
	margin-bottom: 25px;
	padding: 15px;
	margin-top: 50px;
	background-color: #fff;
	padding-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.upload-resume h6{
	padding-bottom: 10px;
	border-bottom: 1px solid #a6a6a6;
}
.upload-resume label{
	font-size: 14px;
}
.table .action1{
	padding-left: 35px;
	cursor: pointer;
}
.profil label{
	font-size: 14px;
	color: #d9dad5;
}
.tabel-pendidikan{
	font-size: 12px;
}
.ipk input{
	width:80px; 
}
.action2{
	width:100px;
}
.action2 a{
	color: black;
}
.action2 a:hover{
	color: black;
	text-decoration: none;
}
.action2 .fas{
	margin-top: 7px;
	padding-right: 10px;	
	cursor: pointer;
}
.pengalaman-kerja label{
	font-size: 14px;
	color: #d9dad5;
}
/*--Footer--*/
#footer{
	height: 100%;
	padding-top: 15px;
	background-color: #f5f5f5;
}
#footer p{
	color: #28448c;
	font-size: 12px;
}


/*Responsive*/
@media (min-width: 100px) and (max-width: 376px) {
	.menu ul li a{
		color: #f29406;
		font-weight: bold;
	}
	.menu ul li a.active{
		color: #122862;
	}
	.navbar-brand img{
	height: 40px;
	width: 170px;
	margin-top: -10px;
}
}
@media (min-width: 376px) and (max-width: 576px) {
	.menu ul li a{
		color: #f29406;
		font-weight: bold;
	}
	.menu ul li a.active{
		color: #122862;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.menu ul li a{
		color: #f29406;
		font-weight: bold;
	}
	.menu ul li a.active{
		color: #122862;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.menu ul li a{
		color: #f29406;
		font-weight: bold;
	}
	.menu ul li a.active{
		color: #122862;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1024px) and (max-width: 1224px) {

}
@media (min-width: 1224px) and (max-width: 1350px) {


}